<!DOCTYPE html>
{% load static %}
<html lang="en">

{% include 'includes/head_link.html' %}

<body>
    
    <header>
        {% include 'includes/navbar.html' with brand_name='DRIVERS LOGSHEET' %}
        {% include 'includes/message.html' %}
    </header>

    <!-- This will keep footer always on the bottom of the page -->
    <div  class="min-vh-100 d-flex flex-column justify-content-between">
        {% block content %}

        {% endblock content %}
    </div>

<!--    Footer -->
    {% include 'includes/footer.html' %}

    {% include 'includes/scripts.html' %}
</body>

</html>
