{% extends  'base.html' %}
{% load static %}


{% block content %}

{% include 'apps/home/_includes/banner_top.html' %}

<div class="page-section" >
    <div class="container ">
        <h1 class="text-center wow fadeInUp">  Login </h1>

        <form class="contact-form mt-3" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-sm-12 py-2 wow fadeInRight">
                    <label for="emailAddress">Email</label>
                    <h6 style="color: red;">{{ login_form.errors.email }}</h6>
                    {{ login_form.email }}
                </div>

                <div class="col-sm-12 py-2 wow fadeInUp">
                    <label for="password">Password</label>
                    <h6 style="color: red;">{{ login_form.errors.password }}</h6>
                    {{ login_form.password }}
                </div>
                

            </div>
            <input type="checkbox"  onclick="myFirstFunction()"> Show Password <br><br>
            <button class="btn btn-primary  wow zoomIn mb-3" type="submit">Submit</button><br>
            Don't Have an account ? Please <a href="{% url 'web:accounts:register' %}">Register</a><br>
            Foreget ? <a href="{% url 'web:accounts:password_reset' %}"> Reset password </a>

        </form>
    </div>
</div>

{% endblock content %}